.ant-table-tbody .ant-table-row {
    background-color: white;
  }


.analytable .ant-table-thead > tr > th {
  background-color: #1890ff;
  color: white;
}

.sockettable .ant-table-thead > tr > th {
  background-color: #1890ff;
  color: white;
}

.row-color {
  background-color: #fafafa !important;
}