.dark-theme-button:hover {
    background-color: grey !important; /* 你想要的悬停背景颜色 */  
  }

  .search-input-dark .ant-input{
    background-color: #232323; // 设置输入框背景色
    color: #ffffff; // 设置输入框文本颜色
  }
  

  .search-input-dark .ant-input-search-icon{
    background-color: #232323; // 设置输入框背景色
    color: #ffffff; // 设置输入框文本颜色
  }